<!DOCTYPE html>
<html lang="en"
      data-ng-app="MainApp">
<head>
    <title data-ng-controller="PageTitleController"
           data-ng-bind-template="{{pageTitleModel.getTitle()}}">Home</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        [data-ng-cloak] {
            display: none;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body data-ng-cloak>

<div class="main-container">

    <pr-page-header></pr-page-header>

    <section class="main-section">

        <div data-ng-view data-ng-animate="{enter: 'view-enter'}"></div>

    </section>

    <pr-page-footer></pr-page-footer>

</div>

<script src="js/lib/angular/<%= config.version.angular %>/angular<%= config.minSuffix %>.js?<%= cacheBuster %>"></script>
<script src="js/lib/angular/<%= config.version.angular %>/angular-resource<%= config.minSuffix %>.js?<%= cacheBuster %>"></script>
<script src="js/lib/angular-ui/bootstrap/<%= config.version.angularUiBootstrap %>/ui-bootstrap-tpls-<%= config.version.angularUiBootstrap %><%= config.minSuffix %>.js?<%= cacheBuster %>"></script>
<script src="js/lib/showdown/<%= config.version.showdown %>/showdown.js?<%= cacheBuster %>"></script>
<script src="<%= config.mainjs %>?<%= cacheBuster %>"></script>

</body>
</html>